body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: rgb(213, 213, 344);
  width: auto;
}

.container {
  align-items: center;
  background-color: pink;
  width: 30rem;
  height: 17rem;
}
h1 {
  text-align: center;
  align-items: center;
  margin: 0;
  margin-right: 3rem;
  margin-bottom: 0.9rem;
  color: red;
}
.input {
  border: 1px solid #333;
  border-radius: 0.3em;
  padding: 0.25rem;
  width: 15em;
  height: 3em;
  background-color: black;
  color: white;
}
select {
  margin-left: 1rem;
  width: 7em;
  border-radius: 2em;
  background-color: black;
  color: white;
}
.equals {
  font-weight: bold;
  font-size: 3rem;
  margin-right: 3rem;
}
